.settings-select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.settings-select-arrow {
    position: absolute !important;
    right: 13px !important;
    top: 50%;
    transform: translateY(-50%);
}